#create-color
{
    width: 160px;
    height: 160px;
    border:none;
    background-color:rgb(255, 255, 255);
    border-radius: 100%;
    transition: height 0.5s, width 0.5s;
}

#create-color:hover
{
    width: 170px;
    height: 170px;
}